VITE_BACKEND_URL=http://localhost:8080
VITE_ALEO_API_URL=https://api.explorer.provable.com/v1/testnet
VITE_TOKEN_REGISTRY_PROGRAM=token_registry.aleo
VITE_AD_REGISTRY_PROGRAM=ad_registry.aleo
VITE_AD_ANALYTICS_PROGRAM=ad_analytics.aleo
VITE_AD_PAYOUTS_PROGRAM=ad_payouts.aleo
